

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h1{
    font-size:30px;
    font-size:bold;
    text-align: center;
    margin: 23px 0 80px;
}

.carosel_card{
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    padding: 20px 40px;
    box-shadow: 5px 10px #888888;
}

.carosel_main_img img{
    width: 150px;

}


.carosel_contents .carosel_heading , .carosel_profile , .carosel_para , .carosel_settings{
    padding-bottom: 5px;
}

.carosel_settings img{
    width: 40px;
}


.carosel_contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
