

* {
    margin :0;
    padding:0 ;
    box-sizing: border-box;
}

.box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap : 40px;
    flex-direction: column;
}

.box_container .counter_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.counter_box button , .reset_container .reset{
    padding: 10px 25px;
    font-size: 20px;

}

